.weather-app {
  border: 0.5mm solid #f3f2f1;
  border-radius: 10px;
  box-shadow: 1px 7px 10px 5px rgba(100, 50, 50, 0.2);
  padding: 5px 40px;
  margin: 40px auto 30px;
  max-width: 550px;
  max-height: fit-content;
  font-family: Times;
  background: linear-gradient(#eff3f9, white);
}

body {
  background: linear-gradient(20deg, #f3f2f1, #d1cecb);
}

h1,
h2 {
  color: #da5c2b;
  text-align: center;
  font-family: Times;
  font-weight: 300px;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  margin: 40px auto 10px;
}

h2 {
  font-size: 75px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #da5c2b;
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 22px;
}

.time {
  font-size: 30px;
  position: relative;
  left: 50px;
}

.night {
  position: relative;
  right: 80px;
  bottom: 36px;
}

.all {
  position: relative;
  bottom: 52px;
  right: 80px;
}

.separation {
  font-size: 40px;
  font-weight: 100px;
  opacity: 0.6;
  position: relative;
  bottom: 80px;
  left: 16px;
}

img {
  font-size: 300px;
  color: #fce168;
  opacity: 0.5;
  position: absolute;
  z-index: 3;
  margin: 0 auto;
}

.row {
  color: #da5c2b;
  font-size: 16px;
}

.col-3 {
  padding: 10px;
}

.form-control {
  display: inline-block;
  margin: 20px 20px 0px 5px;
  width: 82%;
  font-size: larger;
  font-family: Times;
  font-style: italic;
  position: relative;
  right: 20px;
}

hr {
  color: #da5c2b;
}

.btn-primary {
  font-weight: lighter;
  margin-right: 5px;
  border-color: #da5c2b;
  background-color: #da5c2b;
  font-size: 1.15rem;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -58px;
  right: -205px;
}

.btn-primary:hover {
  color: #f1f5f9;
  background: #333131;
  opacity: 0.5;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.units {
  font-size: 22px;
  color: #da5c2b;
  position: relative;
  top: -50px;
  left: -18px;
}

a {
  text-decoration: none;
  color: #da5c2b;
}

a:hover {
  color: #333131;
  opacity: 0.5;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.degree {
  margin-left: 80px;
  font-size: 100px;
  font-weight: 100px;
}

.weather-icons {
  text-align: center;
  margin: 10px 20px;
  font-size: 25px;
}

.my-link {
  display: block;
  margin: 0 auto 25px;
  text-align: center;
  color: #da5c2b;
}
