.weather-app {
  border: 0.5mm solid;
  color: #5a6275;
  padding: 22px;
  margin: 120px 250px 250px;
  max-width: 600px;
  max-height: fit-content;
  border-radius: 5px;
  font-family: Times;
  background-color: #fef5d2;
}

h1,
h2 {
  color: #da5c2b;
  text-align: center;
  font-family: Times;
  font-weight: 300px;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  margin: 40px;
  margin-top: 40px;
}

h2 {
  font-size: 75px;
  margin-top: 10px;
}

ul {
  display: block;
  margin: 0 auto;
  text-align: right;
  list-style-type: none;
  color: #da5c2b;
  padding-left: 0px;
  text-transform: uppercase;
}

.weather-img {
  font-size: 200px;
  color: #fce375;
  margin-top: 50px;
}

small {
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #da5c2b;
}

.row {
  color: #da5c2b;
  font-size: 16px;
}

.col-3 {
  padding: 10px;
}

.form-control {
  margin: 15px 5px 0px;
  display: inline-block;
  width: 79%;
}

.time {
  text-align: left;
  font-size: 20px;
}

hr {
  color: #da5c2b;
}

.btn-primary {
  font-weight: lighter;
  margin-right: 5px;
  border-color: #da5c2b;
  background-color: #da5c2b;
  font-size: 1.15rem;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -106px;
  right: -235px;
}

.units {
  position: relative;
  top: -42px;
  left: -18px;
}

.degree {
  margin-left: 78px;
  font-size: 100px;
  font-weight: 100px;
}

.celcius-link {
  color: #da5c2b;
}

.weather-icons {
  text-align: center;
  margin: 10px 20px 0px 14px;
  font-size: 25px;
}

.night {
  font-size: 20px;
  color: #da5c2b;
}

li {
  color: #da5c2b;
}

.github {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -220px;
  color: #da5c2b;
}
